**/bin
**/obj
**/.vs
**/.vscode
publish
*.log
School.API/wwwroot/uploads
FaceRecognitionService/face_data.db
FaceRecognitionService/data
FaceRecognitionService/__pycache__
FaceRecognitionService/*.pyc
